﻿@model SwiftBookingTest.Web.Models.DeliveryLocation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3><link href="~/Content/Custom/Custom.css" rel="stylesheet" /></h3>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DeliveryLocation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
