﻿@model SwiftBookingTest.Web.Models.DeliveryLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3><link href="~/Content/Custom/Custom.css" rel="stylesheet" /></h3>
<
<fieldset>
    <legend>Delivery Location Details</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResponseID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResponseID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastResponse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastResponse)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
