﻿@model IEnumerable<SwiftBookingTest.Web.Models.DeliveryLocation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3><link href="~/Content/Custom/Custom.css" rel="stylesheet" /></h3>
<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="DeliveryLocationsController" asp-action="Index" method="get">
    <p>
        <input class="editor input[type=text]" type="text" name="txtName" placeholder="Name"><br />
        <input class="editor input[type=text]" type="text" name="txtPhone" placeholder="Phone"><br />
        <input class="editor input[type=text]" type="text" name="txtAddress" placeholder="Address"><br />
        <input type="submit" class="btnStyleTwo" value="Add Location" />
    </p>
    <span class="field-validation-error">
        @TempData["Message"]
    </span>
</form>

<table id="tblLocations" class="tblStyle">
    <tr class="tblHeaderRow">
        <th class="tblHeaderCell">Name</th>
        <th class="tblHeaderCell">Address</th>
        <th class="tblHeaderCell">Phone</th>
        <th class="tblHeaderCell">Last Response (URL or Error Message)</th>
        <th class="tblHeaderCell" colspan="4">Actions</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tblRow">
            <td class="tblColumn">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="tblColumn">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="tblColumn">
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td class="tblColumn">
                @Html.DisplayFor(modelItem => item.LastResponse)
            </td>
            <td class="tblAction">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </td>
            <td class="tblAction">
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
            <td class="tblAction">
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
            <td class="tblAction">
                @Html.ActionLink("Send to GetSwift", "SendToGetSwift", new { id = item.ID })
            </td>
        </tr>
    }
    <tr/>
    <tr>
        <td colspan="4" align="left">
            @Html.ActionLink("Send All to GetSwift", "SendAllToGetSwift")
        </td>
        <td colspan="4" align="right">
            @Html.ActionLink("Clear All", "ClearAll")
        </td>
    </tr>
</table>


    <span class="field-validation-error">
        @TempData["ResultMessage"]
    </span>

    
