﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: white;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    white-space: pre-line;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
/* Additional
-----------------------------------------------------------*/
.multiline
{
   white-space: pre-line;
}
body {
    background-color: white;
}

.tblRow, .tblColumn {
    font-size: 14px;
    border: 1px inset;
    text-align: left;
    min-width: 100px;
}
 .tblAction {
    font-size: 14px;
    border: 1px inset;
    text-align: center;
    min-width: 50px;
}
.tblStyle {
    border: 1px inset;
    text-align: center;
    min-width: 1000px;
    background-color: white;
  
}


.tblHeaderCell {
    border: 1px inset;
    text-align: center;
    min-width: 80px;
    background-color: lightsteelblue;
    font-size: 16px;

}

.tblHeaderRow {
     height: 30px;
}
.btnStyleOne {
    color: lightgrey;
    border-radius: 4px;
}

.btnStyleTwo {
    background-color: lightgrey;
    border-radius: 4px;
    margin-left:50px;
    margin-top:10px;
}

select {
    width: 180px;
}
.pageHeader {
    margin-left: 300px;
    margin-top: 100px;
}
.editor label {
  float: left;
  width: 100px;  
  text-align: right;
  margin-left: 20px;

}

.editor input[type=text] 
{
  width: 1500px;
  min-width: 1000px;
  font-size: 16px;
  margin-left: 20px;
}
.display-label {
  float: left;
  width: 100px;  
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.display-field
{
  min-width: 300px;
  font-size: 14px;
  margin-left: 5px;
}